$cell-size: 100px;
$gap-size:5px;
$marker-size: calc($cell-size * .85);
$marker-thickness : $marker-size * .15;
$hover-color: rgb(120, 120, 120);
*, ::after::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
}
button{
    margin: 20px;
    border-radius: 5px;
    min-height: 50px;
    min-width: 150px;
    cursor: pointer;
}
.game-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
// Board Cells
.board, .home-board{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3,auto);
    gap: $gap-size;
    height: fit-content;
    justify-content: center;
    align-content: center;
    background-color: black;
}
.board.x .cell:not(.x):not(.o):hover::after,
.board.x .cell:not(.x):not(.o):hover::before{
    content: '';
    background-color:$hover-color;
    height: $marker-size;
    width: $marker-thickness;
    position: absolute;
}
.board.x .cell:not(.x):not(.o):hover::after{
    transform: rotate(45deg);
}
.board.x .cell:not(.x):not(.o):hover::before{
    transform: rotate(-45deg);
}
.board.o .cell:not(.x):not(.o):hover::after{
    content: '';
    height: $marker-size;
    width: $marker-size;
    background-color: $hover-color;
    border-radius: 50%;
}
.board.o .cell:not(.x):not(.o):hover::before{
    content: '';
    height: $marker-size - ($marker-thickness*2);
    width: $marker-size - ($marker-thickness*2);
    background-color: white;
    border-radius: 50%;
    position: absolute;
}
.cell, .home-cell{
    background-color: rgb(255, 255, 255);
    width: $cell-size;
    height: $cell-size;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.home-cell{
    font-family: 'Carter One', cursive;
    font-weight: 800;
    font-size: 80px;
}
// X marker
.cell.x::after,
.cell.x::before{
    content: '';
    background-color: black;
    height: $marker-size;
    width: $marker-thickness;
    position: absolute;
}
.cell.x::after{
    transform: rotate(45deg);
}
.cell.x::before{
    transform: rotate(-45deg);
}
// O marker
.cell.o::after{
    content: '';
    height: $marker-size;
    width: $marker-size;
    background-color: black;
    border-radius: 50%;
}
.cell.o::before{
    content: '';
    height: $marker-size - ($marker-thickness*2);
    width: $marker-size - ($marker-thickness*2);
    background-color: white;
    border-radius: 50%;
    position: absolute;
}
.cell.x, .cell.o{
    cursor: not-allowed;
}
// Winner Message
.winner-message-container{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(59, 58, 58, 0.933);
    justify-content: center;
    align-items: center;
    align-content: center;
}
#winner-message-wrapper{
    display: grid;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 50px;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2, 50px);
    color: white
}
#winner{
   grid-area: 1/1/1/span 3;
   font-size: 3rem;
   margin: auto;
   font-family: 'Roboto', sans-serif;
}
.end-game-button{
    height: 50px;
    cursor: pointer;
}
.home-menu{
    display: flex;
    position: absolute;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.show{
    display: flex;
}
.hidden{
    display: none;
}
